/* * {
    border: 1px solid black;
} */


/* 2. -------------------------------- */
.wrap-web {
    display: flex;
    flex: 5;
}

/* one */
.wrap-one {
    flex: 3;
    padding: 20px;
}

/* media social */
.wrap-one .wrap-media {
    padding: 2px;
    /* background-color: #2a3666;
    padding-bottom: 30px;
    border-bottom-right-radius: 30px; */
}

.wrap-one .wrap-media h5 {
    font-size: 20px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: lighter;
    color: rgb(204, 197, 197);
}
.wrap-one .wrap-media h5 span {font-size: 30px;font-weight: bold;text-transform: uppercase;color: rgb(31, 29, 29);}

.wrap-one .wrap-media .card-media {
    /* border: 1px solid gray; */
    margin-top: 10px;
    padding: 14px;
    /* background-color: #f8f8f8; */
    /* display: flex; */
    /* min-height: 90px; */
    /* border-left: 3px solid black; */
    border: 2px solid rgba(245, 245, 245, 0.795);
    /* border-radius: 10px; */
    /* background-color: #d2f9e7; */
    position: relative;
}

.wrap-one .wrap-media .card-media .card-header {
    display:  flex;
}


.wrap-one .wrap-media .card-media .card-header .social {
    position: absolute;
    top: 0;
    right: 0;
    background-color: gainsboro;
    /* background-color: #d2f9e7;
    background-color: black; */
    padding: 4px;
    border-bottom-left-radius: 6px;
    box-shadow: 2px 2px 2px rgba(220, 220, 220, 0.24);
    padding: 4px 12px;
}

.wrap-one .wrap-media .card-media .card-header .social  a {font-size: 26px;}

.wrap-one .wrap-media .card-media hr {
    color: rgba(220, 220, 220, 0.185);
    margin: 14px 0;
}

.wrap-one .wrap-media .card-media .wrap-img {
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    /* height: 70px; */
    border-radius: 100%;
    padding: 0px;
    border: 1px solid gainsboro;
    /* background-color: #d0cbed; */
    /* border-left: 3px solid black; */
    /* color: gainsboro; */
}

.wrap-one .wrap-media .card-media .wrap-img img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    filter: grayscale(60%);
}

.wrap-one .wrap-media .card-media .wrap-img {font-size: 15px;}
.wrap-one .wrap-media .card-media .wrap-img a {
    color: rgba(0, 0, 0, 0.74);
}

.wrap-one .wrap-media .card-media .wrap-note {
    padding: 0px 12px;
}
.wrap-one .wrap-media .card-media .wrap-note h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.wrap-one .wrap-media .card-media .wrap-note span {
    font-size: 10px;
    color: gray;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    display: block;
}

.wrap-one .wrap-media .card-media .more  {
    border: 1px dashed #edf0ee;
    padding: 14px;
    background-color: whitesmoke;
}

.wrap-one .wrap-media .card-media .more a {
    font-size: 13px;
    color: gray;
    /* padding: 10px 0; */
    margin-bottom: 20px;
    /* border: 1px solid black; */
    position: relative;
    top: -6px;
    font-family: 'Josefin Sans', sans-serif;
}

/* second */
.wrap-second {
    flex: 2;
}

/* bulletin board */
.wrap-second .wrap-bulletin {
    /* border: 1px solid black;
    text-align: right; */
    padding: 4px;
}

.wrap-second .wrap-bulletin h4 {
    text-transform: capitalize;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 2px solid black;
    text-align: right;
    padding: 4px;
}

.wrap-second .wrap-bulletin .board {
    margin-top: 14px;
    font-size: 12px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
    padding: 12px;
}


/* RESPONSIVE */
@media only screen and (max-width: 900px) {
    .wrap-web {
        display:  block;
        /* border: 1px solid black; */
        padding-right: 0;
    }

    /* one */
    /* ------------------------------ */
    .wrap-one {
        /* border: 1px solid black; */
        padding-right: 0;
    }

    /* media social */
    .wrap-one .wrap-media {
        background-color: #f8f8f8;
        padding: 16px;
    }

    .wrap-one .wrap-media .card-media {
        background-color: white;
    }

    /* bulletin */
    .wrap-second .wrap-bulletin {
        padding: 14px;
    }
}