/* wrap-one */
/* youtube video */
.wrap-youtube {
    /* border: 1px solid black; */
    margin-top: 35px;
}

.wrap-youtube .youtube {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    padding: 6px;
    padding-right: 27px;
    /* border: 1px solid black; */
}

.wrap-youtube .youtube .up {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

.wrap-youtube .youtube .down {
    font-size: 14px;
    color: rgba(255, 0, 0, 0.555);
}

.wrap-youtube .wrap-video {
    display: flex;
    /* line-height: 0; */
    /* border: 1px solid #b80c0c; */
    background-color: #f8f8f8;
    padding: 12px 6px 6px 10px;
    /* border-left: 2px solid gainsboro; */
}

.wrap-youtube .wrap-video .img {
    /* border: 1px solid black; */
    flex: 2;
    position: relative;
    height: 90px;
}

.wrap-youtube .wrap-video .img img {
    border: 1px solid gainsboro;
    width: 100%;
    height: 100%;
    filter: grayscale(40%);
    cursor: pointer;
    position: absolute;
    z-index: 8;
}

.wrap-youtube .wrap-video .img .video-youtube-show {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.212);
    width: 100%;
    height: 100%;
    display: none;
    color: rgba(24, 22, 22, 0.897);
    /* justify-items: center; */
    text-align: center;
    padding: 10px;
    font-size: 50px;
    /* color: rgba(255, 0, 0, 0.952); */
    color: rgba(255, 0, 0, 0.877);
    cursor: pointer;
    /* background-color: rgba(255, 0, 0, 0.178); */
    transition: 0.9s;
}

.wrap-youtube .wrap-video .img .video-youtube-show #youtube-i {
    position: absolute;
    z-index: -1;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.wrap-youtube .wrap-video .img .showY {
    display: block !important;
    transition: 0.8s;
    /* background-color: red; */
}

.wrap-youtube .wrap-video .name-video {
    /* border: 1px solid black; */
    flex: 3;
    padding: 0px;
    padding-left: 5px;
}

.wrap-youtube .wrap-video .name-video .name {
    display: inline-block;
    /* border: 1px solid black; */
    line-height: unset;
    font-weight: lighter;
    font-size: 16px;
    color: rgb(19, 18, 18);
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
}

.wrap-youtube .wrap-video .name-video .name {
    color: rgb(19, 18, 18);
}

.wrap-youtube .wrap-video .name-video span.time {
    font-size: 12px;
    color: gray;
    display: inline-block;
}
/* end youtube video */

/* RESPONSIVE */
@media only screen and (max-width: 900px) {

    .wrap-youtube .wrap-video .img img {
        width: 100%;
        height: 100px;
    }

    .wrap-youtube .wrap-video {
        border: none;
        padding-left: 10px;
        border-bottom: 1px dashed gainsboro;
    }

    .wrap-youtube .wrap-video .name-video {
        padding-left: 14px;
    }
 }