/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital@1&family=Noto+Sans+Mono&family=Poppins&display=swap');

/* font-family: 'Josefin Sans', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Noto Sans Mono', monospace;

font-family: 'Poppins', sans-serif; */

* {
    /* border: 1px solid black; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2, h3, h4 ,h5 ,h6 {
    margin: 1px;
    padding: 1px;
}

a {text-decoration: none;color: black;}

ul {margin: 0;padding: 0;}
ul li {list-style-type: none;}

.bold {font-weight: bold;display: inline-block;}

/* 0. ------------ */
.wrap-noShowFullWindo {display: none;}

/* full container */
#wrap-fullContainer {
    display: flex;
}

/* 1. ------------------------------------------ */
/* navbar */
.wrap-navbar {
    flex: 5;
    display: flex;
}

/* navbar menu */
.wrap-navbar .navbar-menu {
    flex: 2;
    border-right: 3px solid #f8f8f8;
    padding: 10px;
    min-height: 100vh;
}

.wrap-navbar .navbar-brand h1 a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 34px;
}

.wrap-navbar .navbar-menu .navbar-btn {
    border: 1px solid blue;
    display: none;
}

.wrap-navbar .navbar-menu nav {
    margin: 0;
    margin-top: 10px;
    padding: 4px;
}

.wrap-navbar .navbar-menu nav ul li.navbar-link {
    font-size: 14px;
    text-transform: capitalize;
    margin: 10px 0;
    /* border: 1px solid black; */
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
}

.wrap-navbar .navbar-menu nav ul li.navbar-link a {
    padding: 12px;
    display: block;
}

.wrap-navbar .navbar-menu nav ul li.navbar-link a:hover {
    background-color: #d2f9e7 !important;
    color: black !important;
}

.wrap-navbar .navbar-menu nav ul li.navbar-link a.active {
    display: block;
    background-color: #030303;
    padding: 12px;
    color: white;
}

/* navbar top */
.wrap-navbar .navbar-top {
    flex: 3;
    padding: 18px;
}

.wrap-navbar .navbar-top .top-brand h3 a {
    display: block;
    text-transform: capitalize;
    font-size: 24px;
}

.wrap-navbar .navbar-top .top-brand span {
    font-size: 12px;
    color: rgb(141, 138, 138);
    display: inline-block;
    font-style: italic;
}

/* writing */
.wrap-navbar .navbar-top .list-writing {
    /* border: 1px solid #f8f8f8; */
    margin-top: 24px;
}

.wrap-navbar .navbar-top .list-writing h4 {
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
}
.wrap-navbar .navbar-top .list-writing h4 .bold {
    font-size: 30px !important;
    font-family: 'Noto Sans Mono', monospace;
}

/* card writing */
.wrap-navbar .navbar-top .list-writing .writing-group .wrap-card {
    /* border: 1px solid black; */
    min-height: 80px;
    /* background-color: #d2f9e7; */
    padding: 12px;
    position: relative;
}

.wrap-navbar .navbar-top .list-writing .writing-group .wrap-card h5 {
    font-size: 21px;
    text-transform: capitalize;
}

.wrap-navbar .navbar-top .list-writing .writing-group .wrap-card .more {
    font-size: 50px;
    position: absolute;
    top: 5px;
    right: 20px;
}

.wrap-navbar .navbar-top .list-writing .writing-group .wrap-card .more-post {
    /* border: 1px solid rgb(37, 193, 214); */
    font-size: 12px;
    margin-left: 8px;
    padding: 4px;
}

/* 3 news post */
.wrap-3-new-post {
    /* border: 1px solid gainsboro; */
    min-height: 100px;
    margin-top: 35px;
}
.wrap-3-new-post h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 17px;
}

.wrap-3-new-post h4 .blod {
    font-size: 35px;
}

/* .wrap-3-new-post .group-content {
    border: 1px solid black;
} */

.wrap-3-new-post .group-content .list-content {
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 20px;
}

.wrap-3-new-post .group-content .list-content .icon {
    font-size: 30px;
    margin-right: 6px;
    width: 130px;
    height: 80px;
    /* border: 1px solid rgb(182, 174, 174); */
}

.wrap-3-new-post .group-content .list-content .icon img {
    width: 100%;
    height: 100%;
    filter: grayscale(60%);
}

.wrap-3-new-post .group-content .list-content .title {
    padding: 4px;
    font-size: 17px;
    text-transform: capitalize;
    width: 100%;
}




/* RESPONSIVE */
@media only screen and (max-width: 900px) {

    /* * {
        border: 1px solid black;
    } */

    body {
        margin: 0;
        padding: 0;
    }

    /* fullCoontainer */
    #wrap-fullContainer {
        display: block;
    }

    /* 1. -------------------------------- */
    .wrap-navbar {
        display: block;
        position: relative;
    }

    .wrap-navbar .navbar-menu {
        border: none;
        /* border: 1px solid black; */
        border-bottom: 2px solid rgba(220, 220, 220, 0.466);
        min-height: auto;
        background-color: #f8f8f8;
    }

    .wrap-navbar .navbar-menu .navbar-btn-target-vnlljs {
        /* border: 1px solid red; */
        transform: translateX(-100%);
        transition: 0.6s;
        position: fixed;
        z-index: 100;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
        display: block;
        width: 75%;
        min-height: 100vh;
        border: 1px solid rgba(241, 238, 238, 0.685);
        margin-top: 10px;
        box-shadow: 2px 2px 2px rgba(220, 220, 220, 0.445);
        border-top: 2px solid black;
        /* border: 1px solid red; */
    }

    .wrap-navbar .navbar-menu .show-navbar-vnlljs {
        transform: translateX(0) !important;
        transition: 0.6s all;
        margin-left: -10px;
    }

    /* navbar btn */
    .wrap-navbar .navbar-menu .navbar-btn {
        display: block;
        border: none;
        /* border: 1px solid blue; */
    }

    .wrap-navbar .navbar-menu .navbar-btn .btn-vnlljs-navbar {
        border: 1px solid rgb(177, 165, 165);
        width: 40px;
        height: 40px;
        padding: 5px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #fdfdfd23;
        background-color: rgba(31, 29, 29, 0.856);
    }

    .wrap-navbar .navbar-menu .navbar-btn .btn-vnlljs-navbar .btn {
        height: 2px;
        display: block;
        background-color: rgb(252, 246, 246);
        margin-top: 4px;
        cursor: pointer;
    }

    /* navbar top */
    .wrap-navbar .navbar-top {
        /* border: 1px solid black; */
        margin: 0;
    }

    
}